<div class="container">
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
            <div>
                <mat-form-field class="full-width">
                    <input type="text" matInput name="name" id="name" placeholder="Name" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="alert full-width" *ngIf="!registerForm.controls['name'].valid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                <p *ngIf="registerForm.get('name').hasError('required')">Field is required</p>
                <p *ngIf="registerForm.get('name').hasError('pattern')">It is not a correct name</p>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <input type="text" matInput name="lastname" id="lastname" placeholder="Lastname" formControlName="lastname" />
                </mat-form-field>
            </div>
            <div class="alert full-width" *ngIf="!registerForm.controls['lastname'].valid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)">
                <p *ngIf="registerForm.get('lastname').hasError('required')">Field is required</p>
                <p *ngIf="registerForm.get('lastname').hasError('pattern')">It is not a correct lastname</p>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <input type="text" matInput name="email" id="email" placeholder="Email" formControlName="email" />
                </mat-form-field>
            </div>
            <div class="alert full-width" *ngIf="!registerForm.controls['email'].valid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                <p *ngIf="registerForm.get('email').hasError('required')">Field is required</p>
                <p *ngIf="registerForm.get('email').hasError('email')">It is not a correct email</p>
            </div>


            <div>
                <mat-form-field class="full-width">
                    <input type="password" matInput name="password" id="password" placeholder="Password" formControlName="password" />
                </mat-form-field>
            </div>
            <div class="alert full-width" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                <p *ngIf="registerForm.get('password').hasError('required')">Field is required</p>
                <p *ngIf="registerForm.get('password').hasError('minlength')">Password must be minimun of 8 characters</p>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <input type="password" matInput name="rpassword" id="rpassword" placeholder="Repeat Password" formControlName="rpassword"/>
                </mat-form-field>
            </div>
            <div class="alert full-width" *ngIf="!registerForm.controls['rpassword'].valid && registerForm.controls['rpassword'].touched">
                <p *ngIf="registerForm.get('rpassword').hasError('required')">Field is required</p>
            </div>

            <div class="alert full-width" *ngIf="registerForm.controls['password'].valid && registerForm.controls['rpassword'].valid && registerForm.hasError('mismatch')">
                <p>Passwords does not match</p>
            </div>


            <div mat-dialog-actions>
                <button type="submit" mat-raised-button [disabled]="!registerForm.valid">Register</button>
                <a (click)="login()">login</a>
            </div>
        </form>
    </div>
</div>